{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'livestock/sidebar.css' %}"> 
</head>
<div id="sidebar" class="d-flex flex-column p-3 " >
    <h2 href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="fs-4">Rancho el Tule</span>
    </h2>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url "index" %}" class="nav-link link-body-emphasis " aria-current="page">
            Ganado
            </a>
        </li>
        <li>
            <a href="{% url "datos" %}" class="nav-link link-body-emphasis">
            Datos clinicos 
            </a>
        </li>
        <li>
            <a href="{% url "genealogia" %}" class="nav-link link-body-emphasis">
            Genealogia 
            </a>
        </li>
        <li>
            <a href="{% url "costos" %}" class="nav-link link-body-emphasis">
            Gastos y ganancias
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis">
            Alimento
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>
